@using Debts.ViewModels
@model TaskListViewModel

@{
    ViewData["Title"] = "Index";
}
@{int i = 1; }

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Сумма
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.Name, "AddOrEditTask", "Tasks", new { id = i })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="AddOrEditTask">Add new</a>

